# Forces a single lockfile at the root
shared-workspace-lockfile=true
# Use the catalog feature for version management
catalog-protocol=true
# Allow NestJS to find its core peer deps correctly
public-hoist-pattern[]=@nestjs/*
only-built-dependencies[]=@nestjs/core
