# Framework Artifacts
.next/
.turbo/
.nest/
dist/
build/
out/

# Dependencies & Lockfiles
node_modules/
pnpm-lock.yaml

# Caches
.eslintcache
.prettiercache
.cache/

# Databases (Prisma/TypeORM)
/packages/db/generated/
/apps/api/prisma/migrations/

# Public Assets (Images/Fonts)
public/
**/*.svg
**/*.ico
**/*.png
**/*.jpg

# Local Dev/Secrets
.env*
.idx/
.vscode/
